.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-icon1{
    font-size: 30px;
    color: blue;
    margin: 5px;
}
.s-icon2{
    font-size: 30px;
    color: black; 
    margin: 5px;
}
.s-icon3{
    font-size: 30px;
    color: blue;  
    margin: 5px;
}